body {
	margin: 0;
	padding: 0;
	font: 13px "Helvetica Neue", Helvetica;
}

.right {float: right}
.left {float: left}
.hide {display:none}

.dropdown {
	position:relative
}
.dropdown-menu {
	list-style: none;
	margin: 0;
	padding: 0;
	position: absolute;
	right: 0;
	margin-top: -1px;
	background: #fff;
	border: 1px solid #f3f3f3;
	min-width: 180px
}
.dropdown-menu li {
	padding: 10px
}
.dropdown-menu li:hover {
	background: #fafafa
}


.button{padding:4px 10px;color:#666;position:relative;z-index:0!important;display:inline-block;font-weight:bold;text-shadow:0 1px 0 rgba(255,255,255,0.9);white-space:nowrap;background-color:#f7f7f7;background-image:linear-gradient(#fcfcfc, #f8f8f8);background-image:-webkit-linear-gradient(#fcfcfc, #f8f8f8);background-image:-moz-linear-gradient(#fcfcfc, #f8f8f8);background-repeat:repeat-x;border-radius:0;border:1px solid #f2f2f2;border-bottom-color:#f0f0f0;vertical-align:middle;cursor:pointer;}
.button:hover{background-color:#f6f6f6;background-image:linear-gradient(#fafafa, #f6f6f6);background-repeat:repeat-x;border-color:#f3f3f3 #f3f3f3 #f0f0f0}
[class*="button-remark-"]:before{content:'';position:absolute;width:25px;height:calc(100% - 2px);height:-webkit-calc(100% - 2px);overflow:hidden;margin:-5px 0 0 -39px;font-size:10px;color:#aaa;background-color:#fbfbfb;border:1px solid #f4f4f5;border-bottom-color:#f2f2f2;padding:1px;text-align:center}
.button.disabled{background-color:#fafafa;background-image:linear-gradient(#f7f7f7, #fafafa);background-image:-webkit-linear-gradient(#f7f7f7, #fafafa);background-image:-moz-linear-gradient(#f7f7f7, #fafafa);}
