/*
 * Chatbox forumvi v0.1 by Zzbaivong <devs.forumvi.com>
 */

#chatbox {
	position:absolute;
	top:0;bottom:0;left:0;right:0
}

#chatbox_forumvi {
	margin: 0 10px
}

.chatbox_content {
}

.chatbox_left {
	float:left;
	width:250px;
	background:#fff;
	position:relative;
	height: 100%;
	border-right: 1px solid #f3f3f3
}

.chatbox_main {
	margin-left: 250px;
	position:relative;
	height:100%
}

.chat_head {
	background: #fafafa;
	border-bottom: 1px solid #f3f3f3;
	padding: 10px
}

ul#chatbox_tabs {
	list-style: none;
	margin: 0;
}

ul#chatbox_tabs li {
	display: inline;
	padding: 11px;
	cursor: pointer
}

ul#chatbox_tabs li.active {
	background: #fff;
	border:1px solid #f3f3f3;
	border-bottom:0
}

#chatbox_send {
	position: absolute;
	bottom: 0;
	width: calc(100% - 20px);
	width: -webkit-calc(100% - 20px);
	width: -moz-calc(100% - 20px);
	background: #fafafa;
	padding: 10px
}
